:root {
  --black: #000000;
  --gray: #a9a9a9;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-align: left;
  color: var(--black);
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dad299,
    #b0dab9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dad299,
    #b0dab9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

input {
  margin-top: 5px;
  padding: 7px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}